.mailing-btn, .projects-btn, .section-specializing-btn, .section-app-btn, .section-hero-btn {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: _;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 14px 36px;
  border-radius: 30px;
  background-color: rgb(73, 133, 255);
  margin: 0 auto;
  display: block;
}

.specializing-list-link, .section-features-link {
  border-bottom: 1px solid rgb(73, 133, 255);
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: _;
  line-height: _;
  letter-spacing: _;
  text-align: _;
  color: _;
  counter-reset: mycounter;
}

html {
  scroll-behavior: smooth;
}

.section-specializing-btn {
  margin: 0;
}

.mailing-btn {
  border-radius: 0 30px 30px 0;
  margin: 0;
}

.work-btn {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: rgb(255, 255, 255);
  background-color: inherit;
  padding: 20px 29px 20px 40px;
  border-radius: 200px;
  border: 1px solid rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 21px;
  -ms-flex-wrap: _;
      flex-wrap: _;
}

.mailing-form {
  margin: 0 auto 35px auto;
  border: 1px solid rgb(242, 242, 242);
  border-radius: 30px;
  max-width: 489px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mailing-input {
  border: none;
  margin-right: auto;
  margin-left: 33px;
}
.mailing-input:focus-within {
  border: none;
  outline: none;
}

.container {
  max-width: 1113px;
  margin: 0 auto;
}

header {
  padding: 40px 0;
  border-bottom: 1px solid rgb(161, 161, 161);
  position: absolute;
  top: 0;
  width: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: _;
      flex-wrap: _;
  margin-left: auto;
}
.nav-list-item {
  position: relative;
}
.nav-list-link {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: center;
  text-align: _;
  color: rgb(255, 255, 255);
}

.current::before {
  content: "";
  position: absolute;
  border: 2px solid rgb(255, 255, 255);
  width: 107px;
  top: 56px;
  left: -20px;
}

.footer {
  padding: 70px 0 30px 0;
  background-color: rgb(246, 246, 248);
}
.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: _;
  -ms-flex-wrap: _;
      flex-wrap: _;
  padding-bottom: 70px;
  margin: 0 auto 30px auto;
  border-bottom: 1px solid rgb(224, 224, 224);
}
.footer-desc {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: _;
  text-align: center;
  color: rgb(153, 153, 153);
}

.addres-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  -ms-flex-wrap: _;
      flex-wrap: _;
}

.addres-svg {
  fill: currentColor;
}

.addres-title, .link-title, .projects-title, .social-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: _;
  text-align: left;
  color: rgb(0, 0, 0);
  margin-bottom: 35px;
}

.addres-list-link, .link-list-item, .projects-list-link, .social-list-link {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: _;
  text-align: left;
  color: rgb(153, 153, 153);
}

.addres-list, .link-list, .projects-list, .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  gap: 30px;
  -ms-flex-wrap: _;
      flex-wrap: _;
  margin-right: 40px;
}

.link-list-item::before, .projects-list-item::before, .social-list-item::before {
  content: url("../main/desc/footer-decor.png");
  display: inline-block;
  width: 5;
  height: 9;
  margin-right: 13px;
}

.addres-container {
  margin-right: 30px;
}

.link-container, .projects {
  margin-right: 40px;
}

.section-app {
  padding: 110px 0 105px 0;
}
.section-app-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: _;
  text-align: center;
  color: hsl(0, 0%, 20%);
  max-width: 739px;
  margin: 0 auto 32px auto;
}
.section-app-desc {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: _;
  text-align: center;
  color: rgb(153, 153, 153);
  max-width: 730px;
  margin: 0 auto 70px auto;
}

.app-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  gap: 27px;
  -ms-flex-wrap: _;
      flex-wrap: _;
  margin-bottom: 55px;
}
.app-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  gap: 17px;
  -ms-flex-wrap: _;
      flex-wrap: _;
}
.app-list-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: _;
  text-align: left;
  color: rgb(0, 0, 0);
  margin-bottom: 12px;
  margin-top: 46px;
}
.app-list-desc {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: _;
  text-align: left;
  color: rgb(153, 153, 153);
  max-width: 222px;
}

.app-svg-container {
  border: 1px solid rgb(73, 133, 255);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: _;
  -ms-flex-wrap: _;
      flex-wrap: _;
  width: 90px;
  height: 90px;
}

.app-container {
  border: 1px solid rgb(224, 224, 224);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: _;
  -ms-flex-wrap: _;
      flex-wrap: _;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

.section-features {
  padding: 100px 0 70px 0;
  background-color: rgb(246, 246, 248);
}
.section-features-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: _;
  text-align: left;
  color: hsl(0, 0%, 20%);
  margin-bottom: 60px;
  max-width: 424px;
}
.section-features-desc {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: _;
  text-align: left;
  color: rgb(153, 153, 153);
  max-width: 489px;
  margin-bottom: 42px;
}
.section-features-link {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: _;
  text-align: left;
  color: rgb(73, 133, 255);
}

.features-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 121px;
  -ms-flex-wrap: _;
      flex-wrap: _;
  margin-bottom: 90px;
}

.features-list {
  padding-top: 70px;
  border-top: 1px solid rgb(224, 224, 224);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  gap: 100px;
  -ms-flex-wrap: _;
      flex-wrap: _;
  margin: 0 auto;
}
.features-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 104px;
}
.features-list-container {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: _;
  text-align: center;
  color: rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-wrap: _;
      flex-wrap: _;
}
.features-list-desc {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: _;
  text-align: center;
  color: rgb(153, 153, 153);
}

.features-svg {
  fill: rgb(73, 133, 255);
}

.section-specializing {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgb(95, 18, 208)), color-stop(50%, rgb(255, 255, 255)));
  background-image: linear-gradient(to bottom, rgb(95, 18, 208) 50%, rgb(255, 255, 255) 50%);
  background-repeat: no-repeat;
  padding: 100px 0 85px 0;
}
.section-specializing-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: _;
  text-align: left;
  color: rgb(255, 255, 255);
  max-width: 540px;
}

.specializing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: _;
  -ms-flex-wrap: _;
      flex-wrap: _;
  margin-bottom: 78px;
}

.specializing-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: _;
      flex-wrap: _;
  padding-bottom: 85px;
  border-bottom: 1px solid rgb(224, 224, 224);
}
.specializing-list-item {
  counter-reset: zero 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  gap: _;
  -ms-flex-wrap: _;
      flex-wrap: _;
  max-width: 350px;
}
.specializing-list-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: _;
  text-align: left;
  color: rgb(0, 0, 0);
  margin: 30px 0;
  counter-reset: counter;
}
.specializing-list-title:before {
  content: counter(zero) counter(mycounter) ".";
  counter-increment: mycounter;
  color: rgb(73, 133, 255);
  margin-right: 3px;
}
.specializing-list-desc {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: _;
  text-align: left;
  color: rgb(153, 153, 153);
  margin-bottom: 47px;
}
.specializing-list-link {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: _;
  text-align: left;
  color: rgb(73, 133, 255);
  width: 100px;
}
.specializing-list-img {
  border-radius: 10px;
}

.section-projects {
  background-color: rgb(246, 246, 248);
  padding: 100px 0 130px 0;
}
.section-projects-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: _;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 28px;
}
.section-projects-desc {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: _;
  text-align: center;
  color: rgb(153, 153, 153);
  max-width: 730px;
  margin: 0 auto 67px auto;
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  gap: 30px;
  -ms-flex-wrap: _;
      flex-wrap: _;
  margin-bottom: 50px;
}

.section-work {
  padding: 70px 0 85px 0;
  background-image: url("../main-desc/bg-work-1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
@supports (background-image: url("../main/desc-webp/bg-work-1x.webp")) {
  .section-work {
    background-image: url("../main/desc-webp/bg-work-1x.webp");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-work {
    background-image: url("../main-desc/bg-work-2x.jpg");
  }
  @supports (background-image: url("../main/desc-webp/bg-work-2x.webp")) {
    .section-work {
      background-image: url("../main/desc-webp/bg-work-2x.webp");
    }
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .section-work {
    background-image: url("../main-desc/bg-work-3x.jpg");
  }
  @supports (background-image: url("../main/desc-webp/bg-work-3x.webp")) {
    .section-work {
      background-image: url("../main/desc-webp/bg-work-3x.webp");
    }
  }
}
.section-work-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: _;
  text-align: center;
  color: rgb(255, 255, 255);
}
.section-work-desc {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: _;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 70px;
}

.work-container {
  width: 970px;
  height: 430px;
  background-image: url("../main-desc/img-work-1x.jpg");
  background-size: cover;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: _;
  -ms-flex-wrap: _;
      flex-wrap: _;
  border-radius: 10px;
}
@supports (background-image: url("../main/desc-webp/img-work-1x.webp")) {
  .work-container {
    background-image: url("../main/desc-webp/img-work-1x.webp");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .work-container {
    background-image: url("../main-desc/img-work-2x.jpg");
  }
  @supports (background-image: url("../main/desc-webp/img-work-2x.webp")) {
    .work-container {
      background-image: url("../main/desc-webp/img-work-2x.webp");
    }
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .work-container {
    background-image: url("../main-desc/img-work-3x.jpg");
  }
  @supports (background-image: url("../main/desc-webp/img-work-3x.webp")) {
    .work-container {
      background-image: url("../main/desc-webp/img-work-3x.webp");
    }
  }
}

.section-mailing {
  padding: 85px 0;
}
.section-mailing-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: _;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 0 auto 20px auto;
  padding-top: 80px;
  border-top: 1px solid rgb(224, 224, 224);
  max-width: 1110px;
}
.section-mailing-desc {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: _;
  text-align: center;
  color: rgb(153, 153, 153);
  margin-bottom: 30px;
}
.section-mailing-narr {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: _;
  text-align: center;
  color: rgb(153, 153, 153);
}

.section-hero {
  padding: 219px 0 335px 0;
  background-image: url("../main/desc/bg-hero-1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
@supports (background-image: url("../main/desc-webp/bg-hero-1x.webp")) {
  .section-hero {
    background-image: url("../main/desc-webp/bg-hero-1x.webp");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: url("../main/desc/bg-hero-2x.jpg");
  }
  @supports (background-image: url("../main/desc-webp/bg-hero-2x.webp")) {
    .section-hero {
      background-image: url("../main/desc-webp/bg-hero-2x.webp");
    }
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .section-hero {
    background-image: url("../main/desc/bg-hero-3x.jpg");
  }
  @supports (background-image: url("../main/desc-webp/bg-hero-3x.webp")) {
    .section-hero {
      background-image: url("../main/desc-webp/bg-hero-3x.webp");
    }
  }
}
.section-hero-desc {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: _;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.section-hero-title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: _;
  text-align: center;
  color: rgb(255, 255, 255);
  max-width: 829px;
  margin: 0 auto 63px auto;
}/*# sourceMappingURL=main.css.map */