$main-white: rgba(255, 255, 255, 1);
$main-blue: rgba(73, 133, 255, 1);
$main-dark: hsl(0, 0%, 20%);
$main-grey: rgba(153, 153, 153, 1);
$main-black: rgba(0, 0, 0, 1);
$light-bg: rgba(246, 246, 248, 1);
$underline: rgba(224, 224, 224, 1);