.nav{
    display: flex;

    &-list{
        @include positioning(flex, _, center, center, 30px, _);
        margin-left: auto;

        &-item{
            position: relative;
        }

        &-link{
            @include font-style(Montserrat, 16px, 500, 1.2, center, _, $main-white);

        }
    }
}

.current::before{
    content: "";
    position: absolute;
    border: 2px solid $main-white;
    width: 107px;
    top: 56px;
    left: -20px;
}