.section-projects{
    background-color: $light-bg;
    padding: 100px 0 130px 0;

    &-title{
        @include font-style(Montserrat, 36px, 700, 1.4, _, center, $main-black);
        margin-bottom: 28px;
    }

    &-desc{
        @include font-style(Montserrat, 16px, 400, 1.5, _, center, $main-grey);
        max-width: 730px;
        margin: 0 auto 67px auto;
    }
}

.projects-container{
    @include positioning(flex, _, center, _, 30px, _);
    margin-bottom: 50px;
}