.mailing-form{
    margin: 0 auto 35px auto;
    border: 1px solid rgba(242, 242, 242, 1);
    border-radius: 30px;
    max-width: 489px;
    box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
    display: flex;
}

.mailing-input{
    border: none;
    margin-right: auto;
    margin-left: 33px;

    &:focus-within{
        border: none;
        outline: none;
    }
}